-i https://pypi.org/simple
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.9 ; python_version >= '3'
cssselect==1.1.0
feedparser==6.0.8
fire==0.4.0
idna==3.3 ; python_version >= '3'
lxml==4.7.0
parse==1.19.0
pyquery==1.4.3
pywebcopy==6.3.0
requests==2.26.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.3.1
termcolor==1.1.0
urllib3==1.26.7
w3lib==1.22.0
